<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1012580107522-4ordte31qhmpn58en8meiqg3igv9q5a5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1012580107522-4ordte31qhmpn58en8meiqg3igv9q5a5</string>
	<key>API_KEY</key>
	<string>AIzaSyBqGZOmX8UXodBPQ1Bnd6p2pNNHMWRpsm8</string>
	<key>GCM_SENDER_ID</key>
	<string>1012580107522</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterYaber</string>
	<key>PROJECT_ID</key>
	<string>flutter-yaber-test</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-yaber-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1012580107522:ios:c51d208be9d9e88444ee1b</string>
</dict>
</plist>